.category_button {
    background-color: var(--fg-color);
    color: white;
    border: 3.5px solid var(--fg-color);
    border-radius: 0px 0px 25px 25px;
    padding: 1vh;
    width: 16vw;
    height: 5vh;
    font-weight: bold;
    font-size: 1.5em;
    transition-duration: 0.4s;
    margin-left: 4vw;
    
}

.category_button:hover {
  background-color: white; /* Green */
  color: black;
}