/* add milligram as minimal style library */
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css'); */
/* add font-awesome library for icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

:root {
  --background-color: rgb(252, 197, 206);
}

.App {
  text-align: center;
  background-color:rgb(252, 200, 209);
}