/* add milligram as minimal style library */
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css'); */
/* add font-awesome library for icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --pri-color: #fff6b5;
  --sec-color: #75a9f9;
  --cat-first: #75a9f9;
  --cat-second: #75a9f9;
  --cat-third: #75a9f9;
  height: 100vh;
}

.App {
  text-align: center;
  background-color:var(--pri-color);
}

.slick-next{
  right: 8px !important;
  height: 70%;

}

.slick-prev{
  left:8px !important;
  z-index: 99;
}

.slick-prev:before {
  /* content: "◀︎"; */
  color: black;
  font-size: 30px;
}

.slick-next:before {
  /* content: "►"; */
  color: black;
  font-size: 30px;
}

.green-zone{
  margin: 6vh 0;
  background-color: var(--cat-first);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  min-height: 20vh;
}

.blue-zone{
  background-color: var(--cat-second);
  margin: 6vh 0;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  min-height: 20vh;
}

.yellow-zone{
  background-color: var(--cat-third);
  margin: 6vh 0;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  min-height: 20vh;
}

.toprow{
  display: flex;
  justify-content: space-between;
}

.toprow h1{
  margin-right: 6vw;
  color:white;
}

@media only screen and (max-width: 900px) {
  /* For Small Screens */
  .product_container .product_container__description h2 {
    color: #334454;
    font-size: 1vw;
  }
}