.product_container {
  background: url("https://picsum.photos/400/600");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 350px;
  height: 500px;
  position: relative;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.315); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
}
.product_container .product_container__info {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 25%;
  display: flex;
  align-items: flex-end;
  padding: 10px 10px 20px 10px;
  width: 30%;
  border-radius: 0px 50px 0px 0px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
}
.product_container .product_container__info span {
  margin-right: 20px;
}
.product_container .product_container__info i {
  margin-right: 6px;
}
.product_container .product_container__profile {
  background-color: #d3fccb;
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0px 0px 15px 15px;
}
.product_container .product_container__profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}
.product_container .product_container__profile h2 {
  color: #334454;
  font-size: 1.2rem;
}
.product_container .product_container__profile p {
  color: #a1b2bc;
  font-size: 0.8rem;
}
.product_container .product_container__profile p b {
  font-style: italic;
}