.category-parent{
  height:100vh;
}

.return-button{
  background-color: rgb(117, 169, 249);
  color: white;
  margin-left: 6vw;
  margin-top: 3vh;
  border: 3.5px solid rgb(117, 169, 249);
  border-radius: 25px;
  padding: 1em 0;
  width: 10vw;
  font-weight: bold;
  font-size: 1.2em;
  transition-duration: 0.4s;
}


/* .category-child{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(100, 150, 150);

} */

.category-child {
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  grid-gap: 0;
}

/* 
percent of view width when you are inside a div/container
that is not the body, the contents in the div will scale
the vw since this is a percentage calculation, why the two
font sized below have to be different (10 vs 40) i am not
sure 
*/
header{
  font-size: 10vw;
  width:100%;
}

.fa-couch {
  font-size: 40vw;
}

