.loading__card--status{
  background-color: rgb(252, 197, 206);
      display: flex;
      justify-content: center;
      align-items: center;
  }

.loading-image{
  height: 5em;
  margin-top: 10em;
  margin-bottom: 10em;
  margin-right: 2em;
  animation: rotation 2s infinite linear;
  }

.loading__card-text--semi-bold{
  font-weight: bold;
  color: white;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
